html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section .container {
  margin-top: 11rem;
}

.img-bg-shadow {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 20%,
    rgba(0, 0, 0, 0.2) 80%
  );
}

.img-news {
  height: 17rem;
}
