html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  background: url(../img/background-hero-section-smk-inovasi-digital-manado.avif)
    no-repeat center;
  background-size: cover;
  width: 100%;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

body {
  background-color: #ffffff;
}

.card-text {
  text-align: justify;
}

.img-jurusan {
  height: 12.5rem;
  object-fit: cover;
}

.bi-lightbulb:hover {
  color: #ffd700;
  transition: color 0.3s ease;
}

.bi-people:hover {
  color: #00bfff;
  transition: color 0.3s ease;
}

.bi-bullseye:hover {
  color: #32cd32;
  transition: color 0.3s ease;
}

.bi-award:hover {
  color: #e4a11b;
  transition: color 0.3s ease;
}

.bi-buildings:hover {
  color: #3071a9;
  transition: color 0.3s ease;
}

.bi-people-alumni:hover {
  color: #146c43;
  transition: color 0.3s ease;
}

@media (max-width: 1199px) {
  .card-text {
    text-align: start;
  }
}

.img-bg-shadow {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 20%,
    rgba(0, 0, 0, 0.2) 80%
  );
}

.news-text {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
}

.carousel-indicators .active {
  background-color: #007bff;
}

.card:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.3s;
}

.carousel-control-prev-icon {
  background-color: #007bff;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 3rem 0;
}

.social-icons a {
  font-size: 1.25rem;
}

.rounded-circle {
  object-fit: cover;
  height: 60px;
  width: 60px;
}
