html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ffffff;
}

.hero-section {
  background: url(../img/haidan-OZOq5gH0Oi4-unsplash.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

@media (max-width: 767.98px) {
  .logo-sekolah {
    width: 60% !important;
  }
}

.text-justify {
  text-align: justify;
}

.bi-lightbulb:hover {
  color: #ffd700;
  transition: color 0.3s ease;
}

.bi-people:hover {
  color: #00bfff;
  transition: color 0.3s ease;
}

.bi-bullseye:hover {
  color: #32cd32;
  transition: color 0.3s ease;
}

.img-fasilitas {
  height: 12.5rem;
  object-fit: cover;
}

.scale-up:hover {
  transform: scale(1.05);
}

.scale-up {
  transition: transform 0.3s;
}
